body{
    font-family: monospace;
}
.user{
    text-align: left;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}
.users{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.t-center{
    margin-top: 1rem;
    text-align: center;
}
.logo {
    width: 30vmin;
}
.t-header{
    color: #1c78c0;
    margin-top: 5px;
}
