body{
    font-family: monospace;
}
.user{
    text-align: left;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}
.users{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.t-center{
    margin-top: 1rem;
    text-align: center;
}

.logo {
    width: 17vmin;
}

.logos {
    display: flex;
    justify-content: center;
    padding-inline-start: 0;

    li {
        position: relative;
        display: flex;

        &:not(:first-child) {
            margin-left: 10vmin;

            &:after{
                position: absolute;
                content: "•";
                left: -5vmin;
                top: 50%;
                transform: scale(3);
              }
        }
       
    }
}
